/target
tng-*.tar.gz
.package/
/.vscode/

# artifacts from attestation stack for tests
**/.keys/
.github/test-deps/attestation-service/storage/attestation_service_policy/default_gpu.rego
.github/test-deps/attestation-service/storage/attestation_service_policy/default_ppcie.rego
.github/test-deps/attestation-service/storage/attestation_service_policy/default_switch.rego

# python env
__pycache__/
**/.venv/

# maturin tng output
*.so

# conseel output
**/build/**
**/dist/**
*.egg-info
